* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Playfair Display', serif;
    font-size: 1.1rem;
    background-color: rgb(14, 218, 233);
}

body {
  
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.622);
}

.c{
    text-align: center;
    justify-content: center;
    display: flex;
}
.calculator {
    position: absolute;
    width: 380px;
    padding: 20px;
    border-radius: 30px;

}

.calculator .buttons {
    position: relative; 
    display: grid;
}

.calculator .buttons #value {
    position: relative;
    grid-column: span 4;
    user-select: none;
    overflow: none;
    width: 100%;
    text-align: start;
    color: black;
    height: 100px;
    line-height: 100px;
    box-shadow: inset 5px 5px 10px rgba(183, 174, 174, 0.69);
    border-radius: 20px;
    margin-bottom: 30px;
    padding: 0 20px;
    font-size: 1cm;
    font-weight: 500;
}

.calculator .buttons span {
    position: relative;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    user-select: none;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    color: rgb(25, 9, 89);
    border: 2px solid #030303;
    border-radius: 30px;

}



.calculator .buttons span#clear {
    grid-column: span 2;
    background:orange;
    color: black;
    border: 2px solid  gray;

}

.calculator .buttons span#plus {
    grid-row: span 2;
    background: rgb(79, 79, 237);
    color: white;

}

.calculator .buttons span#equal {
    width: 180%;
    background: orange;
    color: black;
    border: 2px solid gray;

}

.calculator .buttons span#clear:active,
.calculator .buttons span#plus:active,
.calculator .buttons span#equal:active {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1), 
    -5px -5px 10ps #fff,
    inset 5px 5px 10px rgba(0, 0, 0, 0.1);

}
